# Append()

In [ ]:
#pandas append function is used to appedn rows of other dataframe 
#to the end of the given dataframe returning a new dataframe object.

In [1]:
#syntax  df.append()
#parameters
#other,ignore_index,sort

In [2]:
import pandas as pd

In [3]:
df1=pd.DataFrame({'A':[1,2,3],
                 'B':[10,20,30]})

df2=pd.DataFrame({'C':[4,5,6],
                 'D':[40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   C   D
0  4  40
1  5  50
2  6  60

In [7]:
df1.append(df2)

C:\Users\Asus\AppData\Local\Temp\ipykernel_14872\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

     A     B    C     D
0  1.0  10.0  NaN   NaN
1  2.0  20.0  NaN   NaN
2  3.0  30.0  NaN   NaN
0  NaN   NaN  4.0  40.0
1  NaN   NaN  5.0  50.0
2  NaN   NaN  6.0  60.0

In [ ]:
df1.append