# Join()

In [ ]:
# DaraFrame join is a conveninet method for combining the columns of two
# potentially differently-indexed
#syntax DataFrame.join()
#parameters:
#other,on,how,lsuffix,rsuffix

In [1]:
import pandas as pd

In [8]:
df1=pd.DataFrame({'A':[1,2,3],
                'B':[10,20,30]},index=['a','b','c'])
df2=pd.DataFrame({'C':[4,5,6],
                'D':[40,50,60]},index=['a','b','c'])
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
a  4  40
b  5  50
c  6  60

In [9]:
df1.join(df2)  #df1 and df2 joined

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60

In [10]:
df2.join(df1)

   C   D  A   B
a  4  40  1  10
b  5  50  2  20
c  6  60  3  30

In [11]:
df1.join(df2,how='right')

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60